flask==3.1.2
flask-cors==6.0.2
flask-socketio==5.6.0
eventlet==0.40.4
numpy==2.3.5
pandas==2.3.3
scikit-learn==1.6.1
scipy==1.17.0
opencv-python==4.13.0.90
mediapipe==0.10.9
librosa==0.11.0
soundfile==0.13.1
imbalanced-learn==0.14.1
tqdm==4.67.3
joblib==1.5.3
pillow==12.1.0
waitress==3.0.2
PyYAML==6.0.1
shap==0.46.0
neurokit2==0.2.14
